@import '../variables';
.proof-of-purchase {
  .proof-label {
    font-family: 'LucasSemiBold', sans-serif;
    margin-bottom: 10px;
  }
  .proof-machine-label {
    font-family: 'LucasMedium', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .machine-info {
    display: flex;
    margin-bottom: 20px;
    .machine-graphic {
      width: 40%;
      text-align: center;
      padding-right: 20px;
      img {
        max-width: 80%;
        max-height: 200px;
      }
    }
    .machine-actions {
      padding-top: 10px;
      .machine-name {
        font-family: 'LucasSemiBold', sans-serif;
        font-size: 16px;
        margin-bottom: 5px;
      }
      span {
        color: #777;
        text-transform: uppercase;
        font-size: 11px;
      }
      .machine-sn {
        font-size: 14px;
        font-family: 'LucasMedium', sans-serif;
        padding-bottom: 12px;
        border-bottom: 1px solid #ddd;
        letter-spacing: 1px;
      }
      .edit-bar {
        padding: 10px 0 0 16px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        span {
          color: $color-brown;
          font-size: 12px;
          font-family: 'LucasMedium', sans-serif;
          text-transform: capitalize;
        }
        img {
          margin-left: 12px;
          width: 20px;
        }
      }
      small {
        font-size: 10px;
        width: 60%;
        display: inline-block;
        color: #777;
      }
    }
  }
  .input-proof {
    position: relative;
    form {
      .input-proof-label {
        font-family: 'LucasMedium', sans-serif;
        font-size: 14px;
        margin-bottom: 5px;
        max-width: 75%;
      }
      .file-input {
        .input-file-apparition {
          position: relative;
          overflow: hidden;
          background-color: #fff;
          border: 1px dashed #ccc;
          border-radius: 8px;
          height: 140px;
          margin-bottom: 8px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .icon-camera {
            width: 40px;
            margin-bottom: 10px;
          }
          span {
            font-size: 14px;
            font-family: 'LucasMedium', sans-serif;
            max-width: 100px;
            text-align: center;
          }
        }
        .help-infos {
          display: flex;
          flex-direction: column;
          small {
            font-family: 'LucasMedium', sans-serif;
            font-size: 11px;
            color: #777;
          }
        }
      }
      input {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
      .btn_proof-help {
        font-size: 12px;
        color: $color-brown;
        font-family: 'LucasMedium', sans-serif;
        margin: 12px 0;
      }
      button {
        border: none;
        border-radius: 20px;
        background-color: #ddd;
        height: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0 20px;
        min-width: 160px;
        outline: none;
      }
      .btn_submit_proof {
        background-color: $color-green;
        color: #fff;
      }
    }
  }
}