@import '../mixins', '../variables';
.purchase-details {
  padding: 20px 0;
  .pd-title {
    font-family: 'LucasMedium', sans-serif;
    font-size: 14px;
  }
  .form-input {
    margin: 20px 0;
    position: relative;
    @include form_label;
    .label-error {
      color: #ff0000;
    }
    .label-correct {
      color: $color-green;
    }
    input {
      width: 100%;
      height: 48px;
      border: 1px solid #ddd;
      border-radius: 8px;
      outline: none;
      padding: 20px 16px 6px 16px;
      font-size: 16px;
      letter-spacing: 1px;
    }
    p {
      min-height: 15px;
      padding: 10px 5px 0 20px;
      .form-warn {
        @include error_msg;
      }
    }
  }
  .purchasing-date {
    margin: 10px 0 20px 0;
    .react-datepicker-wrapper {
      width: 100%;
      input {
        width: 100%;
        height: 48px;
        border: 1px solid #ddd;
        border-radius: 8px;
        outline: none;
        padding: 20px 16px 6px 16px;
        font-size: 16px;
        letter-spacing: 1px;
        &::placeholder {
          color: #000;
          font-size: 14px;
        }
      }
      .input-error {
        border: 1px solid #ff0000;
        color: #ff0000;
      }
      .input-correct {
        border: 1px solid $color-green;
        color: $color-green;
      }
    }
    .react-datepicker-popper {
      z-index: 2;
    }
  }
  .select-input {
    @include select_w_arrow;
  }
  .form-submit-part {
    button {
      border: none;
      border-radius: 20px;
      background-color: #ddd;
      height: 40px;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0 20px;
      min-width: 160px;
      outline: none;
    }
    .btn_submit_total {
      background-color: $color-green;
      color: #fff;
    }
  }
}