@import './variables';
@mixin error_msg {
  background-color: #f6cccc;
  display: inline-block;
  padding: 1px 10px;
  font-size: 11px;
  border-radius: 0 10px 10px 10px;
  margin-bottom: 5px;
}
@mixin btn_green {
  border: none;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 20px;
  min-width: 100px;
  outline: none;
  font-size: 11px;
  background-color: $color-green;
  color: #fff;
}
@mixin qtyAction {
  .quantity-action {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      display: inline-block;
      text-align: center;
      width: 40px;
    }
  }
}
@mixin intensity {
  .intensity-info {
    margin-bottom: 10px;
    .intensity-graphic {
      height: 12px;
      .int-square {
        display: inline-block;
        width: 2px;
        height: 8px;
        margin-right: 2px;
        background-color: #ddd;
      }
      .active-square {
        background-color: $color-brown;
      }
    }
    .intensity-text {
      text-transform: capitalize;
      color: $color-brown;
      font-size: 11px;
    }
  }
}
@mixin select_w_arrow {
  select {
    width: 100%;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    padding: 20px 16px 6px 16px;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
  }
  .select-arrow {
    position: absolute;
    right: 5%;
    top: 45%;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #000;
  }
}
@mixin form_label {
  label {
    position: absolute;
    left: 16px;
    top: 6px;
    text-transform: uppercase;
    font-size: 11px;
    color: #999;
    z-index: 1;
  }
}