.modal-proof-types {
  text-align: center;
  max-height: 85vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  h2 {
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0 auto;
    width: 70%;
  }
  img {
    margin: 20px 0;
    &:not(.proof_1) {
      max-width: 25%;
      max-height: 70px;
    }
  }
  .proof_1 {
    max-width: 35%;
  }
  p {
    color: #777;
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
    &:last-of-type {
      margin: 0 auto 30px auto;
    }
  }
}