@import '../variables', '../mixins';
.confirmation {
  padding: 30px 0 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    @include btn_green;
  }
  .btn_previous_section {
    margin-right: 20px;
    background-color: transparent;
    color: #000;
    border: 1px solid $color-green;
  }
  .btn_next_section {
    border-radius: 22px;
    height: 44px;
    line-height: 44px;
    padding: 0 50px;
    font-size: 15px;
  }
  .btn_disabled {
    background-color: #ddd;
  }
}